<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-lg-4">
      <small class="d-block mb-3 text-muted">DevCommunity@ 2024-25</small>
    </div>
    <div class="col-lg-4">
      <h5>Feature</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">About Us</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Contact Us</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Our Mission</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Blogs</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Careers</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Profiles</a>
        </li>
      </ul>
    </div>
  </div>
</footer>